<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <div class="container">

        <a class="navbar-brand" routerLink="/#"><span class="text-warning">Kashmir</span>Trails</a> <button
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
            type="button"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dash">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/destination">Destination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/log">ADMIN LOGI</a>
                </li>
            </ul>
            <!-- <div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">login</button>
            </div> -->
        </div>

    </div>

</nav>
<br>
<br>
<div class="container my-3 mx-8">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <div class="col">
           <div class="card shadow-md">

            <img src="../assets/images/kalahoie glacier.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text">
                   <h2>KalahoieTrek</h2>
                
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn- btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/gangbal.jpg" alt="huhei">
               <div class="card-body">

                   <p class="card-text">
                   <h2>KouserNagTrek</h2>
                   <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/huhei.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text">
                   <h2>NunWan Trek</h2>
                   <!-- </p> -->
                   <div
                       class="d   additional content. This content is a little bit longer.-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/lake1.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text"><h2>Alpine lake Trek</h2>
                <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/lake2.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text"><h2>TarsarMarsarTrek</h2>
                <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/sheshnag.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text"><h2>AmarNath Trek</h2>
                <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>

       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/medow1.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text"><h3>MusmargTrek</h3>
                <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/med3.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text"><h3>Gangbal Trek</h3>
                <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
       <div class="col">
           <div class="card shadow-sm">

            <img src="../assets/images/med2.jpg" alt="huhei">
               <div class="card-body">
                   <p class="card-text"><h3>Cheranbal TrekS</h3>
                <!-- </p> -->
                   <div class="d-flex justify-content-between align-items-center">
                       <div class="btn-group">
                           <button type="button" class="btn btn-sm btn-outline-secondary">
                               view-trekking-sites</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">guide</button>
                           <button type="button" class="btn btn-sm btn-outline-secondary">how to reach</button>
                       </div>

                   </div>
               </div>
           </div>
       </div>
   </div>
</div>

    
